{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VF Home</title>
    <link rel="stylesheet" href="{% static 'css/booking/homepage2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'js/booking/homepage2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
</head>
<body>
    <div id="preloader" style="width: 100%; height:100vh; justify-content: center; align-items: center; margin-left: 600px; margin-top: 200px;" class="loadingio-spinner-spinner-g752ah8jht9"><div class="ldio-5be0l33kbn4">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div></div>
    <style type="text/css">
        @keyframes ldio-5be0l33kbn4 {
          0% { opacity: 1 }
          100% { opacity: 0 }
        }
        .ldio-5be0l33kbn4 div {
          left: 94px;
          top: 48px;
          position: absolute;
          animation: ldio-5be0l33kbn4 linear 1s infinite;
          background: #008ce3;
          width: 12px;
          height: 24px;
          border-radius: 4.8px / 4.8px;
          transform-origin: 6px 52px;
        }.ldio-5be0l33kbn4 div:nth-child(1) {
          transform: rotate(0deg);
          animation-delay: -0.9166666666666666s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(2) {
          transform: rotate(30deg);
          animation-delay: -0.8333333333333334s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(3) {
          transform: rotate(60deg);
          animation-delay: -0.75s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(4) {
          transform: rotate(90deg);
          animation-delay: -0.6666666666666666s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(5) {
          transform: rotate(120deg);
          animation-delay: -0.5833333333333334s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.5s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(7) {
          transform: rotate(180deg);
          animation-delay: -0.4166666666666667s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(8) {
          transform: rotate(210deg);
          animation-delay: -0.3333333333333333s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(9) {
          transform: rotate(240deg);
          animation-delay: -0.25s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(10) {
          transform: rotate(270deg);
          animation-delay: -0.16666666666666666s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(11) {
          transform: rotate(300deg);
          animation-delay: -0.08333333333333333s;
          background: #008ce3;
        }.ldio-5be0l33kbn4 div:nth-child(12) {
          transform: rotate(330deg);
          animation-delay: 0s;
          background: #008ce3;
        }
        .loadingio-spinner-spinner-g752ah8jht9 {
          width: 200px;
          height: 200px;
          display: inline-block;
          overflow: hidden;
          background: none;
        }
        .ldio-5be0l33kbn4 {
          width: 100%;
          height: 100%;
          position: relative;
          transform: translateZ(0) scale(1);
          backface-visibility: hidden;
          transform-origin: 0 0; /* see note above */
        }
        .ldio-5be0l33kbn4 div { box-sizing: content-box; }
        /* generated by https://loading.io/ */
    </style>
    <section>
        <div class="container-fluid slider-sec">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider-container">
                        <div class="slider">
                            <div class="slide"><img src="{% static 'image/booking/Background.jpg' %}" alt="Image 1" class="img-fluid"></div>
                            <div class="slide"><img src="{% static 'image/booking/Background 2.jpg' %}" alt="Image 2" class="img-fluid"></div>
                            <div class="slide"><img src="{% static 'image/booking/Background 3.jpg' %}" alt="Image 3" class="img-fluid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Header>
        <div class="container-fluid header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#" >
                    <img src="{% static 'image/booking/Magnet logo.png' %}" alt="logo" width="79px" height="79px">
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto"> <!-- mx-auto for centering -->
                        <li class="nav-item">
                            <a class="nav-link" href="#" src="{% static 'image/booking/flight w.svg' %}" alt=""><p>Flights</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'hotel' %}"><img src="{% static 'image/booking/hotel w.svg' %}" alt=""><p>Hotels</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="{% static 'image/booking/holiday w.svg' %}" alt=""><p>Holidays</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="{% static 'image/booking/island w.svg' %}" alt=""><p>Island</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="{% static 'image/booking/visa w 1 icon.svg' %}" alt=""><p>Visa</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="{% static 'image/booking/more w 1 icon.svg' %}" alt=""><p>More</p></a>
                        </li>
                    </ul>
                    <div class="d-flex btn-log mb-2">
                        <button class="btn btn-primary" id="log-btn">LOG IN</button>
                    </div>
                </div>
            </nav>
        </div>
    </Header>
    <section id="text-sec">
        <div id="title">
            <div class="d-flex flex-row titles">
                <p id="head-title">THIS WINDER HOLIDAY</p>&nbsp
                <p id="sub-title">HOT TRIPS</p>
            </div>
            <div>
                <p id="under-title">Enjoy Your Holiday With Us</p>
            </div>
        </div>
    </section>
    <section id="home-sec">
        <div class="container-fluid">
            <div class="head">
                <p>Book Your Hotels</p>
            </div>
                <form id="input-sec" class="row"  method="post" action="{% url 'process_form' %}" >
                    {% csrf_token %}
                    <fieldset class="scheduler-border col-md-3">
                        <legend class="scheduler-border">Where</legend>
                        <div class="control-group">
                            <div class="controls bootstrap-timepicker">
                                <input type="text" id="autocompleteInput" placeholder="Enter The Name, City, Landmark" style="font-size: 14px;" name="cityname">
                                <input type="hidden" id="cityIdInput" name="city_id">
                                <input type="hidden" id="countryCodeInput" name="country_code">
                                <i class="icon-time"></i>
                                <script>
                                    $(function () {
                                        $("#autocompleteInput").autocomplete({
                                            source: function (request, response) {
                                                $.ajax({
                                                    url: "/search_destinations/",
                                                    dataType: "json",
                                                    data: {
                                                        query: request.term
                                                    },
                                                    success: function (data) {
                                                        response(data.data);
                                                    }
                                                });
                                            },
                                            minLength: 2,
                                            select: function (event, ui) {
                                                // Update the hidden input fields with selected values
                                                $("#cityIdInput").val(ui.item.cityID);
                                                $("#countryCodeInput").val(ui.item.countryCode);
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border col-md-2">
                        <legend class="scheduler-border">Check-In</legend>
                        <div class="control-group">
                            <div class="controls bootstrap-timepicker">
                                <input type="text" class="check" data-date="" data-date-format="DD MMMM YYYY" style="font-size: 14px;" name="check-in" id="check-in">
                                <i class="icon-time"></i>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border col-md-2">
                        <legend class="scheduler-border">Check-Out</legend>
                        <div class="control-group">
                            <div class="controls bootstrap-timepicker">
                                <input type="text" class="check" data-date="" data-date-format="DD MMMM YYYY" style="font-size: 14px;" name="check-out" id="check-out">
                                <i class="icon-time"></i>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border col-md-2 mb-3">
                        <legend class="scheduler-border">Nationality</legend>
                        <div class="control-group">
                            <div class="controls bootstrap-timepicker" style="width: 100%;">
                                <select class="Nationality" name="nation" id="nation" style="font-size: 14px;width: 100%;border: none; outline: none;" value="Enter the nation">
                                    <option value="IN" selected>India</option>
                                                                                                    <option value="AF" >Afghanistan</option>
                                                                                                    <option value="AL" >Albania</option>
                                                                                                    <option value="DZ" >Algeria</option>
                                                                                                    <option value="AS" >American Samoa</option>
                                                                                                    <option value="AD" >Andorra</option>
                                                                                                    <option value="AO" >Angola</option>
                                                                                                    <option value="AI" >Anguilla</option>
                                                                                                    <option value="AQ" >Antarctica</option>
                                                                                                    <option value="AG" >Antigua &amp; Barbuda</option>
                                                                                                    <option value="AR" >Argentina</option>
                                                                                                    <option value="AM" >Armenia</option>
                                                                                                    <option value="AW" >Aruba</option>
                                                                                                    <option value="AU" >Australia</option>
                                                                                                    <option value="AT" >Austria</option>
                                                                                                    <option value="AZ" >Azerbaijan</option>
                                                                                                    <option value="BS" >Bahamas</option>
                                                                                                    <option value="BH" >Bahrain</option>
                                                                                                    <option value="BD" >Bangladesh</option>
                                                                                                    <option value="BB" >Barbados</option>
                                                                                                    <option value="BY" >Belarus (Belorussia)</option>
                                                                                                    <option value="BE" >Belgium</option>
                                                                                                    <option value="BZ" >Belize</option>
                                                                                                    <option value="BJ" >Benin</option>
                                                                                                    <option value="BM" >Bermuda</option>
                                                                                                    <option value="BT" >Bhutan</option>
                                                                                                    <option value="BO" >Bolivia</option>
                                                                                                    <option value="BA" >Bosnia and Herzegowina</option>
                                                                                                    <option value="BW" >Botswana</option>
                                                                                                    <option value="BV" >Bouvet Islands</option>
                                                                                                    <option value="BR" >Brazil</option>
                                                                                                    <option value="IO" >British Indian Ocean Territory</option>
                                                                                                    <option value="VG" >British Virgin Islands</option>
                                                                                                    <option value="BN" >Brunei Darussalam</option>
                                                                                                    <option value="BG" >Bulgaria</option>
                                                                                                    <option value="BF" >Burkina Faso</option>
                                                                                                    <option value="BI" >Burundi</option>
                                                                                                    <option value="KH" >Cambodia</option>
                                                                                                    <option value="CM" >Cameroon</option>
                                                                                                    <option value="CA" >Canada</option>
                                                                                                    <option value="CB" >Canada Buffer</option>
                                                                                                    <option value="CV" >Cape Verde</option>
                                                                                                    <option value="KY" >Cayman Islands</option>
                                                                                                    <option value="CF" >Central African Republic</option>
                                                                                                    <option value="TD" >Chad</option>
                                                                                                    <option value="CL" >Chile</option>
                                                                                                    <option value="CN" >China</option>
                                                                                                    <option value="CX" >Christmas Islands</option>
                                                                                                    <option value="CC" >Cocos (Keeling) Island</option>
                                                                                                    <option value="CO" >Colombia</option>
                                                                                                    <option value="KM" >Comoros</option>
                                                                                                    <option value="CG" >Congo</option>
                                                                                                    <option value="CD" >Congo (Rep. Dem.)</option>
                                                                                                    <option value="CK" >Cook Islands</option>
                                                                                                    <option value="CR" >Costa Rica</option>
                                                                                                    <option value="HR" >Croatia</option>
                                                                                                    <option value="CU" >Cuba</option>
                                                                                                    <option value="CY" >Cyprus</option>
                                                                                                    <option value="CZ" >Czech Republic</option>
                                                                                                    <option value="DK" >Denmark</option>
                                                                                                    <option value="DJ" >Djibouti</option>
                                                                                                    <option value="DO" >Dominican Republic</option>
                                                                                                    <option value="DM" >Dominicana</option>
                                                                                                    <option value="TP" >East Timor</option>
                                                                                                    <option value="EC" >Ecuador</option>
                                                                                                    <option value="EG" >Egypt</option>
                                                                                                    <option value="SV" >El Salvador</option>
                                                                                                    <option value="GQ" >Equatorial Guinea</option>
                                                                                                    <option value="ER" >Eritrea</option>
                                                                                                    <option value="EE" >Estonia</option>
                                                                                                    <option value="ET" >Ethiopia</option>
                                                                                                    <option value="EU" >European Monetary Union</option>
                                                                                                    <option value="FK" >Falkland Islands</option>
                                                                                                    <option value="FO" >Faroe Islands</option>
                                                                                                    <option value="FJ" >Fiji Islands</option>
                                                                                                    <option value="FI" >Finland</option>
                                                                                                    <option value="FR" >France</option>
                                                                                                    <option value="GF" >French Guiana</option>
                                                                                                    <option value="PF" >French Polynesia</option>
                                                                                                    <option value="TF" >French Southern Territories</option>
                                                                                                    <option value="GA" >Gabon</option>
                                                                                                    <option value="GM" >Gambia</option>
                                                                                                    <option value="GE" >Georgia</option>
                                                                                                    <option value="DE" >Germany</option>
                                                                                                    <option value="GH" >Ghana</option>
                                                                                                    <option value="GI" >Gibralter</option>
                                                                                                    <option value="GR" >Greece</option>
                                                                                                    <option value="GL" >Greenland</option>
                                                                                                    <option value="GD" >Grenada</option>
                                                                                                    <option value="GP" >Guadeloupe</option>
                                                                                                    <option value="GU" >Guam</option>
                                                                                                    <option value="GT" >Guatemala</option>
                                                                                                    <option value="GN" >Guinea</option>
                                                                                                    <option value="GW" >Guinea-Bissau</option>
                                                                                                    <option value="GY" >Guyana</option>
                                                                                                    <option value="HT" >Haiti</option>
                                                                                                    <option value="HM" >Heard &amp; Mcdonald Islands</option>
                                                                                                    <option value="HN" >Honduras</option>
                                                                                                    <option value="HK" >Hong kong</option>
                                                                                                    <option value="HU" >Hungary</option>
                                                                                                    <option value="IS" >Iceland</option>
                                                                                                    <option value="ID" >Indonesia</option>
                                                                                                    <option value="IR" >Iran</option>
                                                                                                    <option value="IQ" >Iraq</option>
                                                                                                    <option value="IE" >Ireland</option>
                                                                                                    <option value="IL" >Israel</option>
                                                                                                    <option value="IT" >Italy</option>
                                                                                                    <option value="CI" >Ivory Coast</option>
                                                                                                    <option value="JM" >Jamaica</option>
                                                                                                    <option value="JP" >Japan</option>
                                                                                                    <option value="JO" >Jordan</option>
                                                                                                    <option value="KZ" >Kazakhstan</option>
                                                                                                    <option value="KE" >Kenya</option>
                                                                                                    <option value="KI" >Kiribati</option>
                                                                                                    <option value="KP" >Korea (Democratic People's Republic Of)</option>
                                                                                                    <option value="KW" >Kuwait</option>
                                                                                                    <option value="KG" >Kyrgyzstan</option>
                                                                                                    <option value="LA" >Lao People's Democratic Republic</option>
                                                                                                    <option value="LV" >Latvia</option>
                                                                                                    <option value="LB" >Lebanon</option>
                                                                                                    <option value="LS" >Lesotho</option>
                                                                                                    <option value="LR" >Liberia</option>
                                                                                                    <option value="LY" >Libyan Arab Jamahiriya</option>
                                                                                                    <option value="LI" >Liechtenstein</option>
                                                                                                    <option value="LT" >Lithuania</option>
                                                                                                    <option value="QL" >Lithuania (Dummy Code)</option>
                                                                                                    <option value="LU" >Luxembourg</option>
                                                                                                    <option value="MO" >Macau</option>
                                                                                                    <option value="MK" >Macedonia</option>
                                                                                                    <option value="MG" >Madagascar</option>
                                                                                                    <option value="MW" >Malawi</option>
                                                                                                    <option value="MY" >Malaysia</option>
                                                                                                    <option value="MV" >Maldives</option>
                                                                                                    <option value="ML" >Mali</option>
                                                                                                    <option value="MT" >Malta</option>
                                                                                                    <option value="MH" >Marshall Islands</option>
                                                                                                    <option value="MQ" >Martinique</option>
                                                                                                    <option value="MR" >Mauritania</option>
                                                                                                    <option value="MU" >Mauritius</option>
                                                                                                    <option value="YT" >Mayotte</option>
                                                                                                    <option value="MX" >Mexico</option>
                                                                                                    <option value="MB" >Mexico Buffer</option>
                                                                                                    <option value="FM" >Micronesia</option>
                                                                                                    <option value="MD" >Moldova</option>
                                                                                                    <option value="MC" >Monaco</option>
                                                                                                    <option value="MN" >Mongolia</option>
                                                                                                    <option value="MS" >Montserrat</option>
                                                                                                    <option value="MA" >Morocco</option>
                                                                                                    <option value="MZ" >Mozambique</option>
                                                                                                    <option value="MM" >Myanmar</option>
                                                                                                    <option value="NA" >Namibia</option>
                                                                                                    <option value="NR" >Nauru</option>
                                                                                                    <option value="NP" >Nepal</option>
                                                                                                    <option value="NL" >Netherlands</option>
                                                                                                    <option value="AN" >Netherlands Antilles</option>
                                                                                                    <option value="NC" >New Caledonia</option>
                                                                                                    <option value="NZ" >New Zealand</option>
                                                                                                    <option value="NI" >Nicaragua</option>
                                                                                                    <option value="NE" >Niger</option>
                                                                                                    <option value="NG" >Nigeria</option>
                                                                                                    <option value="NU" >Niue</option>
                                                                                                    <option value="NF" >Norfolk Islands</option>
                                                                                                    <option value="MP" >Northern Mariana Islands</option>
                                                                                                    <option value="NO" >Norway</option>
                                                                                                    <option value="OM" >Oman</option>
                                                                                                    <option value="PK" >Pakistan</option>
                                                                                                    <option value="PW" >Palau</option>
                                                                                                    <option value="PS" >Palestinian Occ. Territories</option>
                                                                                                    <option value="PA" >Panama</option>
                                                                                                    <option value="PG" >Papua New Guinea</option>
                                                                                                    <option value="PY" >Paraguay</option>
                                                                                                    <option value="PE" >Peru</option>
                                                                                                    <option value="PH" >Philippines</option>
                                                                                                    <option value="PL" >Poland</option>
                                                                                                    <option value="PT" >Portugal</option>
                                                                                                    <option value="PR" >Puerto Rico</option>
                                                                                                    <option value="QA" >Qatar</option>
                                                                                                    <option value="RE" >Reunion</option>
                                                                                                    <option value="RO" >Romania</option>
                                                                                                    <option value="RW" >Ruanda</option>
                                                                                                    <option value="RU" >Russian Federation</option>
                                                                                                    <option value="LC" >Saint Lucia</option>
                                                                                                    <option value="WS" >Samoa</option>
                                                                                                    <option value="SM" >San Marino</option>
                                                                                                    <option value="ST" >Sao Tome &amp; Principe</option>
                                                                                                    <option value="SA" >Saudi Arabia</option>
                                                                                                    <option value="SN" >Senegal</option>
                                                                                                    <option value="SC" >Seychelles</option>
                                                                                                    <option value="SL" >Sierra Leone</option>
                                                                                                    <option value="SG" >Singapore</option>
                                                                                                    <option value="SK" >Slovakia</option>
                                                                                                    <option value="SI" >Slovenia</option>
                                                                                                    <option value="SB" >Solomon Islands</option>
                                                                                                    <option value="SO" >Somalia</option>
                                                                                                    <option value="ZA" >South Africa</option>
                                                                                                    <option value="GS" >South Georgia &amp; South Sandwich</option>
                                                                                                    <option value="KR" >South Korea</option>
                                                                                                    <option value="SU" >Soviet Union</option>
                                                                                                    <option value="ES" >Spain</option>
                                                                                                    <option value="LK" >Sri Lanka</option>
                                                                                                    <option value="SH" >St. Helena</option>
                                                                                                    <option value="KN" >St. Kitts and Nevis</option>
                                                                                                    <option value="PM" >St. Pierre &amp; Miquelon</option>
                                                                                                    <option value="VC" >St. Vincent &amp; the Grenadines</option>
                                                                                                    <option value="SD" >Sudan</option>
                                                                                                    <option value="SR" >Suriname</option>
                                                                                                    <option value="SJ" >Svalbard &amp; Jan Mayen Islands</option>
                                                                                                    <option value="SZ" >Swaziland</option>
                                                                                                    <option value="SE" >Sweden</option>
                                                                                                    <option value="CH" >Switzerland</option>
                                                                                                    <option value="SY" >Syrian Arab Republic</option>
                                                                                                    <option value="TW" >Taiwan</option>
                                                                                                    <option value="TJ" >Tajikistan</option>
                                                                                                    <option value="TZ" >Tanzania</option>
                                                                                                    <option value="TH" >Thailand</option>
                                                                                                    <option value="TG" >Togo</option>
                                                                                                    <option value="TK" >Tokelau</option>
                                                                                                    <option value="TO" >Tonga</option>
                                                                                                    <option value="TT" >Trinidad and Tobago</option>
                                                                                                    <option value="TN" >Tunisia</option>
                                                                                                    <option value="TC" >Turcs &amp; Caicos Islands</option>
                                                                                                    <option value="TR" >Turkey</option>
                                                                                                    <option value="TM" >Turkmenistan</option>
                                                                                                    <option value="TV" >Tuvalu</option>
                                                                                                    <option value="UM" >U.S. Minor Outlaying Islands</option>
                                                                                                    <option value="UG" >Uganda</option>
                                                                                                    <option value="UA" >Ukraine</option>
                                                                                                    <option value="AE" >United Arab Emirates</option>
                                                                                                    <option value="GB" >United Kingdom</option>
                                                                                                    <option value="UY" >Uruguay</option>
                                                                                                    <option value="US" >USA</option>
                                                                                                    <option value="UZ" >Uzbekistan</option>
                                                                                                    <option value="VU" >Vanuatu</option>
                                                                                                    <option value="VA" >Vatican City State</option>
                                                                                                    <option value="VE" >Venezuela</option>
                                                                                                    <option value="VN" >Vietnam</option>
                                                                                                    <option value="VI" >Virgin Islands (US)</option>
                                                                                                    <option value="WF" >Wallis &amp; Futuna Islands</option>
                                                                                                    <option value="EH" >Western Sahara</option>
                                                                                                    <option value="YE" >Yemen</option>
                                                                                                    <option value="YU" >Yugoslavia</option>
                                                                                                    <option value="ZM" >Zambia</option>
                                                                                                    <option value="ZW" >Zimbabwe</option>
                                </select>
                                <i class="icon-time"></i>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border col-md-2 mb-3">
                        <legend class="scheduler-border">Person & Rooms</legend>
                        <div class="control-group">
                            <div class="controls bootstrap-timepicker">
                                <input type="text" placeholder="1 Room & 0 Adults" id="room" style="font-size: 14px;" onclick="showForm()">
                                <input type="hidden" id="roomInfoInput" name="roomInfoInput">
                                <input type="hidden" id="totalRoomInfoInput" name="totalRoomInfoInput">
                                <i class="icon-time"></i>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-md-2 mb-2" id="btn">
                        <button type="submit" id class="btn btn-primary" id="search-btn">Search</button>
                    </div>
                </form>
            </div>
    </section>
    <section id="form">
        <div id="wrapper">
            <div id="form_div">
                <table class="table table-hover text-nowrap" id="attribute_table">
                    <thead>
                       
                        <tr>
                            <th class="room-h" >Room</th>
                            <th class="room-h" >Adults</th>
                            <th class="room-h">Child</th>
                            <th class="room-h">Child Age</th>
                        </tr>
                    </thead>
                    <tr id="row1" class="room-info">
                        <td>Room1</td>
                        <td>
                            <select name='attribute_name' class='form-control attribute_name' id="adult_1" onchange="getAdultCount()">
                                <option value='0'>Select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </td>
                        <td>
                            <select name='attribute_id' id="child_1" class='form-control attribute_value' onchange="getAdultCount()">
                                <option data-parent='0' value='0'>Select</option>
                                <option value="1">1</option>
                            </select>
                        </td>
                        <td>
                            <select name='attribute_id' id="childage_1" class='form-control attribute_value' onchange="getAdultCount()">
                                <option data-parent='0' value='0'>Select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>

                <input class="btn" id="add-btn" type="button" onclick="add_attribute_row();" value="Add Room+">

                <input class="btn " id="remove-btn" type="button" onclick="del_att_row();" value="Remove Room-">
            </div>
            <button class="btn btn-primary" id="app-btn" onclick="hideForm()">Apply</button>
        </div>
        
    </section> 
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row align-items-center footer">
                <div class="col-md-2 footer-img">
                    <img src="{% static 'image/booking/Magnet logo.png' %}" alt="VF Logo" class="img-fluid">
                </div>
                <div class="col-md-2 footer-icons">
                    <img src="{% static 'image/booking/facebook Icons.svg' %}" alt="Facebook Icon" class="footer-icon">
                    <img src="{% static 'image/booking/x Icons.svg' %}" alt="X Icon" class="footer-icon">
                    <img src="{% static 'image/booking/youtube Icons.svg' %}"  alt="YouTube Icon" class="footer-icon">
                    <img src="{% static 'image/booking/insta Icons.svg' %}" alt="Instagram Icon" class="footer-icon">
                    <img src="{% static 'image/booking/linked in Icons.svg' %}" alt="LinkedIn Icon" class="footer-icon">
                </div>
            </div>
        </div>
    </footer>  

    <!-- <script>
        $("input").on("change", function() {
        this.setAttribute(
            "data-date",
            moment(this.value, "YYYY-MM-DD")
            .format( this.getAttribute("data-date-format") )
        )
        }).trigger("change")
    </script> -->
    <script>
        $(function () {
          // Initialize Datepicker for the first date
          $("#check-in").datepicker({
            minDate: 0, // Minimum date is today
            dateFormat: 'dd MM yy', // Set the date format
            onSelect: function (dateText, inst) {
              // Update the data-date attribute using moment.js
              $(this).attr("data-date", moment(dateText, "DD MMMM YYYY").format($(this).attr("data-date-format")));
    
              // Calculate the next date using moment.js
              var nextDate = moment(dateText, "DD MMMM YYYY").add(1, 'days').format("DD MMMM YYYY");
    
              // Set the default date for the second datepicker to one day after the selected date
              $("#check-out").datepicker("option", "minDate", nextDate);
              $("#check-out").datepicker("setDate", nextDate);
            }
          });
    
          // Initialize Datepicker for the second date
          $("#check-out").datepicker({
            minDate: 1, // Minimum date is one day after today
            dateFormat: 'dd MM yy', // Set the date format
          });
    
          // Set the default date to today for the first datepicker
          $("#check-in").datepicker("setDate", new Date());
    
          // Set the default date for the second datepicker to one day after today
          var nextDefaultDate = moment().add(1, 'days').format("DD MMMM YYYY");
          $("#check-out").val(nextDefaultDate);
        });
      </script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
     -->
    <script>
        var loader =  document.getElementById("preloader")
        window.addEventListener("load", function() {
            loader.style.display="none"
        })
    </script>
</body>
</html>
<!-- <script>
    $(function () {
        // Initialize Datepicker for the first date
        $("#check-in").datepicker({
            minDate: 0, // Minimum date is today
            dateFormat: 'dd MM yy', // Set the date format
            onSelect: function (dateText, inst) {
                // Update the data-date attribute using moment.js
                $(this).attr("data-date", moment(dateText, "DD MMMM YYYY").format($(this).attr("data-date-format")));
    
                // Calculate the next date using moment.js
                var nextDate = moment(dateText, "DD MMMM YYYY").add(1, 'days').format("DD MMMM YYYY");
    
                // Set the value for the second input directly
                $("#check-out").datepicker("setDate", nextDate);
            }
        });
    
        // Initialize Datepicker for the second date
        $("#check-out").datepicker({
            minDate: 1, // Minimum date is one day after today
            dateFormat: 'dd MM yy' // Set the date format
        });
    
        // Set the default date to today for the first datepicker
        $("#check-in").datepicker("setDate", new Date());
    
        // Set the default date for the second datepicker to one day after today
        var nextDefaultDate = moment().add(1, 'days').format("DD MMMM YYYY");
        $("#check-out").datepicker("setDate", nextDefaultDate);
    });
    </script> -->
    