/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #fff; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.nav-item a p :hover {
    margin-top: 10px;
    color:  rgba(0, 102, 228, 1);
}

.nav-item a p{
    margin-top: 12px;
    margin-left: 5px;
}

.nav-item a {
    display: flex;
    flex-direction: row;
}

.nav-item a:hover {
    transform: scale(10px);
}
#ho-info{
  background: rgba(0, 102, 228, 1);
  padding: 10px;
  border-radius: 5px;
}

.log-btn {
    color: black;
    background-color:white;
    border: 1px solid black;
    border-radius: 20px;
}

.mod-btn {
    color: white;
    background-color:rgba(0, 102, 228, 1);
    border: 1px solid white;
    width: 130px;
    margin-top: 20px;
}

#container-inp {
    margin-top: 120px;
}

.room-details {
    justify-content: space-between;
    padding: 6px;
}

.room-details ul li {
    color: rgba(0, 78, 174, 1);
}

.r-info {
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 22px;
    max-width: auto;
    height: auto; 
    align-items: center;
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;
}

.r-img img {
    width: 110%; 
    height: auto;
    border-radius: 22px;
    margin-bottom: 5px;
}

.int {
    font-size: 20px;
    text-align: start;
}

.price {
    padding-left: 7px;
    margin-top: -5px;
    font-size: 25px;
    font-weight: bolder;
}

ul {
    padding: 0;
}

#myTabContent {
    width: 100%;
    font-size: 14px;
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 10px;
}

.nav-room-sec {
    border: 1px solid  rgba(208, 213, 221, 1);
    border-radius: 10px;
    width: 754px;
    height: auto;
    padding: 5px;
    padding-left: 20px;
    margin-top: 10px;
}

.container-room {
    width: 730px;
    height: 170px;
    align-items: center;
    border-radius: 10px;
    padding: 0px 2px;
    background: rgba(208, 213, 221, 0.23);
    margin-bottom: 2px;
}

.room-inf-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -20px;
}

.room-inf-nav li a {
    text-decoration: none;
    color: black;
}

.room-inf-nav li {
    background: rgba(210, 230, 255, 1);
    padding: 3px 6px;
    border-radius: 6px;
}

.room-inf-img img {
    margin: 5px;
    width: 300px;
    height:160px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.room-details {
    display: flex;
    justify-content: space-between;
}

.room-info {
    max-width: 400px;
}

.room-info p {
    margin: 5px 0;
}

.price-info {
    text-align: right;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.more-optn {
    color: black;
    font-size: 14px; 
}

.rub-price {
    display: flex;
    flex-direction: row;
}

.can-pol {
    color: black;
}

.room-info-name {
    font-size: 20px;
}

.book-btn {
    border-radius: 20px;
    background:white;
    color: rgba(0, 78, 174, 1);
    border: 1px solid  rgba(0, 78, 174, 1);
}

.li {
    list-style: none;
}

.r-features li {
    margin-left: 20px;
}

.footer-img img {
    width: 100px;
    height: 75px;
}

Footer {
    background: rgba(27, 27, 27, 1);
    height: auto;
    display: flex;
    margin-top: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.footer-icons img{
    width: 20px;
    height: 20px;
}
media (min-width:320px) and (max-width:480px) {
    .footer-img img {
        width: auto;
        height:auto;
    }

    .room-inf-img img {
        margin: 5px;
        width: auto;
        height:auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #fff; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.name-loc {
    display: flex;
    flex-direction: column;
}

.nav-item a p :hover {
    margin-top: 10px;
    color:  rgba(0, 102, 228, 1);
}

.nav-item a p{
    margin-top: 12px;
    margin-left: 10px;
}

.nav-item a {
    display: flex;
    flex-direction: row;
}

.nav-item  :hover {
    opacity: 60%;
}

.log-btn {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
}

.mod-btn {
    color: white;
    background-color: rgba(41, 41, 41, 1);
    border: 1px solid white;
    width: 130px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 17px;
}

.hotel-cont {
    margin-top: 105px;
}

.inp-row {
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.inp {
    padding-left: 4px;
}

.room-details {
    justify-content: space-between;
    padding: 6px;
}

.room-details ul li {
    color: rgba(0, 78, 174, 1);
}

.r-info {
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 22px;
    max-width: auto;
    height: 300px; 
    align-items: center;
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;
}

.thumbnail {
    width: 100px;
    height: 75px;
    margin: 5px;
    cursor: pointer;
}

.thumbnail-container {
    margin-top: -90px;
    margin-left: 40px;
}

.main-image {
    width: 1000px;
    height: auto;
    border-radius: 20px;
}

.int {
    font-size: 20px;
    text-align: start;
}

.price {
    padding-left: 7px;
    margin-top: -5px;
    font-size: 25px;
    font-weight: bolder;
}

ul {
    padding: 0;
}

#myTabContent {
    width: 50%;
    font-size: 14px;
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.nav-room-sec {
    border: 1px solid  rgba(208, 213, 221, 1);
    border-radius: 10px;
    width: 754px;
    height: auto;
    padding: 5px;
    padding-left: 20px;
    margin-top: 10px;
}


.container-room {
    width: 730px;
    height: 170px;
    align-items: center;
    border-radius: 10px;
    padding: 0px 2px;
    background: rgba(208, 213, 221, 0.23);
    margin-bottom: 2px;
}

.room-inf-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -20px;
}

.room-inf-nav li a {
    text-decoration: none;
    color: black;
}

.room-inf-nav li {
    background: rgba(210, 230, 255, 1);
    padding: 3px 6px;
    border-radius: 6px;
}

.nav-item button {
    background: rgba(210, 230, 255, 1);
    color: black;
    margin: 8px 3px;
}

.nav-item .navlink .active {
    background: rgba(0, 113, 255, 1);
    color: white;
}

.room-inf-img img {
    margin: 5px;
    width: 300px;
    height:160px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.room-details {
    justify-content: space-between;
}

.room-info {
    max-width: 400px;
}

.room-info p {
    margin: 5px 0;
}

.price-info {
    text-align: right;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.more-optn {
    color: black;
    font-size: 14px; 
}

.rub-price {
    display: flex;
    flex-direction: row;
}

.can-pol p a {
    color: black;
}

.can-pol p{
    margin-top: 50px;
}

.room-info-name {
    font-size: 20px;
}

.fac-sec {
    margin: 10px;
}

.book-btn {
    border-radius: 20px;
    background:white;
    color: rgba(0, 78, 174, 1);
    border: 1px solid  rgba(0, 78, 174, 1);
}

.li {
    list-style: none;
}

.r-features li {
    margin-left: 20px;
}

.footer-img img {
    width: 100px;
    height: 75px;
}

Footer {
    background: rgba(27, 27, 27, 1);
    height: auto;
    display: flex;
    margin-top: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.footer-icons img{
    width: 20px;
    height: 20px;
}

@media (min-width:320px) and (max-width:480px) {
    .footer-img img {
        width: auto;
        height:auto;
    }
}

@media only screen and (max-width: 991px) {
    #myTabContent {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .inp-row {
     display: flex;
     flex-direction: column;
    }

    .r-info {
        margin-top: 20px;
    }

    .room-inf-img img {
       width: 100%;
    }
 
 } 